.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}


.product-head {
  text-align: center;
  margin-top: 3rem;
}


h1{
  font-size: 25px;
}
 

h2{
  font-size: 16px;
  font-weight: 900;
}

.card {
  min-height: 24rem;
}